
<div class="courses-panel">

  <div class="header">

    <h2 class="title">All Courses</h2>

    <button mat-mini-fab routerLink="/add-new-course">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>

  </div>

  <!--Creamos un gruopo de tabs, las pestañas para entrar a diferentes partes como del menu
  cada una de los mat-tab representan un elemento u opcion-->
  <mat-tab-group>
  
    <mat-tab label="Beginners">
      <!--crearemos las cards de los cursos-->
      <courses-card-list [courses]="beginnerCourses$ | async"></courses-card-list>

    </mat-tab>
  

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async"></courses-card-list>

    </mat-tab>
  
  </mat-tab-group>

</div>

